[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
faunadb = "*"
lxml = "*"
web3 = "*"
asyncio = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
